<div class="footer_principal">
  <div class="gobierno_nacional">
    <p><b>GOBIERNO DE LA REPÚBLICA DEL ECUADOR</b></p>
  </div>
  <div class="informacion_ministerio">
      Av. República de el Salvador N34-138 y Suiza<br/>
      Quito - Ecuador<br/>
      Teléfono: 593-2 3814000<br/>
  </div>
  <div class="redes_sociales">
    <ul class="lista_redes_sociales">
      <li>
        <a href="https://informaticapc.com/"><img src="https://web-storm/navigate/reference?project=InterfacesUsabilidadAccesibildad&path=Interfaces/proyecto/src/app/icons/icon_facebook.png"></a>
      </li>
      <li>
        <a href="https://informaticapc.com/"><img src="app/icons/icon_facebook.png"></a>
      </li>
      <li>
        <a href="https://informaticapc.com/"><img src="app/icons/icon_youtube.png"></a>
      </li>
      <li>
        <a href="https://informaticapc.com/"><img src="app/icons/icon_instagram.png"></a>
      </li>
    </ul>
  </div>
</div>
