<div class="footer_principal">
  <div class="gobierno_nacional">
    <p><b>GOBIERNO DE LA REPÚBLICA DEL ECUADOR</b></p>
  </div>
  <div class="informacion_ministerio">
    Av. República de el Salvador N34-138 y Suiza<br/>
    Quito - Ecuador<br/>
    Teléfono: 593-2 3814000<br/>
  </div>
  <div class="redes_sociales">
    <ul class="lista_redes_sociales">
      <li>
        <a href="https://twitter.com/@MinTrabajoEc"><img [src] = "twiter" alt="Icono de Twiter" title="twitter del ministerio de Trabajo"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/MinTrabajoEcuador"><img [src] = "facebook" alt="Icono de facebook" title="facebook del ministerio de Trabajo"></a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UC7GveeSRAD04k_6eCht6fZA"><img [src] = "youtube" alt="Icono de youtube" title="youtube del ministerio de Trabajo"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/mintrabajoecuador/"><img [src] = "instagram" alt="Icono de instagram" title="instagram del ministerio de Trabajo"></a>
      </li>
    </ul>
  </div>
</div>
