<app-header></app-header>
<div class="container pt-5">
  <app-breadcrumb></app-breadcrumb>
</div>
<mat-divider></mat-divider>
<div class="container w-50">
  <h1 class="text-center">Denuncias</h1>
  <section aria-label="información del procedimiento para hacer una denuncia">
    <h2>¿CÓMO HACER UNA DENUNCIA LABORAL?</h2>
    <p>
      Si se están vulnerando tus derechos, puedes presentar una denuncia de dos maneras:
      De manera virtual: Ingresando a nuestro Sistema Único de Trabajo en línea
    </p>
    <div class="mb-3">
      <a href="https://sut.trabajo.gob.ec/mrl/loginMenuDenuncias.xhtml" class="fs-5">
        Click para ir al inicio de sesión del menú de denuncias
      </a>

    </div>
    <p>
      De manera presencial: En la Dirección del Ministerio del Trabajo más cercana a tu domicilio, debes presentar en ventanilla de atención al usuario la información solicitada de manera escrita o impresa, conoce los requisitos aquí.
    </p>
  </section>
</div>
<div class="container">
  <mat-divider></mat-divider>
</div>
<div class="container w-50">
  <section class="mt-3 mb-5" aria-label="listas de requisitos del denunciante y el denunciado">
    <h2>Requisitos y Procedimientos para Denuncias</h2>
    <p>
      DATOS COMPLETOS DEL DENUNCIANTE (TRABAJADOR O EXTRABAJADOR)
    </p>
    <p>
      Presentar la cédula:
    </p>
    <ul class="list-group m-3 mb-5">
      <li class="list-group-item" *ngFor="let requisito of requisitosDenuncias">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right icon-item" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        {{requisito}}
      </li>
    </ul>
    <p>
      DATOS COMPLETOS DEL EMPLEADOR
    </p>
    <ul class="list-group m-3 mb-5">
      <li class="list-group-item" *ngFor="let dato of datosEmpleador">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right icon-item" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        {{dato}}

      </li>
    </ul>
    <p>
      Si comparece con patrocinio de abogado, adjuntar dos escritos detallando la información señalada anteriormente, con los fundamentos de hecho y de derecho, copia de cédula del denunciante, copia de la credencial del abogado patrocinador y el croquis.
    </p>
    <p class="my-4">
      <b>NOTA: </b>FAVOR DETALLAR TODA LA INFORMACIÓN EN UNA HOJA A MANO O A COMPUTADORA CON EL RESPECTIVO CROQUIS.
    </p>
    <p>
      <b>
        Te recomendamos que realices tus trámites de manera virtual, aún estamos en emergencia por el COVID-19 y es mejor quedarse en casa. La notificación de tu denuncia llegará al correo que hayas registrado.
      </b>
    </p>
  </section>
  </div>
  <div class="container">
    <mat-divider></mat-divider>

  </div>
  <div class="container w-50">
  <section class="my-4">
    <h2>Deja un comentario</h2>
    <div class="row mb-3">
      <div class="col">
        <p>No necesita una cuenta para hacerlo</p>
      </div>
      <div class="col">
        <button aria-label="Ícono de información: No debes crear una cuenta, basta con ingresar su correo para contactarlo " type="button" class="m-0 p-0 btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="No debes crear una cuenta, basta con ingresar su correo para contactarlo">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="container">
      <form action="" class="shadow  p-3 mb-5 bg-body rounded">
        <div class="row">
          <div class="col-6">
            <label for="nombre">Nombre</label>
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput id="nombre"
                    placeholder="Ej. Juan Rodriguez">

            </mat-form-field>
          </div>
          <div class="col-6">
            <label for="correo">Correo electrónico</label>
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Correo electrónico</mat-label>
              <input type="email" matInput id="correo" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ej. juan@ejemplo.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Por favor ingrese un correo válido
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                El correo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <label for="sitioweb">Sitio Web</label>
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Sitio Web</mat-label>
              <input type="text" matInput id="sitioweb"
                    placeholder="Ej. sitiodejuan.com">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 ">
            <label for="comentario">Comentario</label>
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Escribe tu comentario</mat-label>
              <textarea matInput id="comentario" placeholder="Ej. Mi comentario es..."></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Recordarme para comentar la próxima vez
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-light mx-5" aria-label="Regresar al inicio de la página">
              Volver al inicio
            </button>
            <button class="btn btn-primary" aria-label="Enviar información de comentario">
              Publicar Comentario
            </button>
          </div>

        </div>
      </form>
    </div>
  </section>
</div>
<app-footer></app-footer>
