<app-header></app-header>
<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="../../../../images/image 3.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Corporación Nacional de Telecomunicaciones CNT EP calificada como Operador de Capacitación</h5>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../../images/image 1.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Feria Laboral Multitrabajos</h5>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="../../../../images/image 2.png"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Comunicado Oficial</h5>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
<app-footer></app-footer>