<app-header></app-header>
<div class="row">
    <div class="col-lg-6">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row">
            <div class="col-lg">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </div>
            <div class="col-lg">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </div>
            <div class="col-lg">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </div>
            <div class="col-lg">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Rendicion de cuentas</li>
              <li class="list-group-item">Acuerdos Ministeriales</li>
              <li class="list-group-item">Proyectos Sociales</li>
              <li class="list-group-item">Noticias</li>
            </ul>
          </div>
    </div>
    <div class="col-lg-4">
        <div class="noticias_destacadas">
            <p><b>Noticias Destacadas</b> </p>
            <div class="contenido_noticias_destacadas">
                <div class="imagen_noticia_destacada">
                    <img [src]=imagen_destacada1 alt="">
                </div>
                <div class="informacion_noticia_destacada">
                    <p><b>94.000 personas salieron del desempleo en el último año</b></p>
                    <p>24 de agosto , 2022 , 5:14 pm<br>
                </div>
            </div>
            <div class="contenido_noticias_destacadas">
                <div class="imagen_noticia_destacada">
                    <img [src]=imagen_destacada2 alt="">
                </div>
                <div class="informacion_noticia_destacada">
                    <p><b>Corporación Nacional de Telecomunicaciones CNT EP calificada como Operador de Capacitación</b>
                    </p>
                    <p>30 de agosto , 2022 , 5:45 pm<br>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>