<app-header></app-header>




<mat-divider></mat-divider>
<div class="container-fluid main pt-50 w-100 h-100">
    <div class="row pt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="row-sm-6">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let image of images">
                        <div class="wrapper">
                            <img [src]="image.src" alt="Random first slide">
                        </div>
                        <div class="carousel-caption">
                            <h3>{{ image.title }}</h3>
                            <p>{{ image.short }}</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

            <div class="row pt-5">
                <div class="col">
                    <mat-icon aria-hidden="false" aria-label="Servicios" fontIcon="settings"></mat-icon>
                </div>
                <div class="col">
                    <mat-icon aria-hidden="false" aria-label="Denuncias" fontIcon="sms_failed"></mat-icon>
                </div>
                <div class="col">
                    <mat-icon aria-hidden="false" aria-label="Estadisticas" fontIcon="monitoring"></mat-icon>
                </div>
                <div class="col">
                    <mat-icon aria-hidden="false" aria-label="Jubilados" fontIcon="elderly"></mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rendicion de cuentas</li>
                    <li class="list-group-item">Acuerdos Ministeriales</li>
                    <li class="list-group-item">Proyectos Sociales</li>
                    <li class="list-group-item">Noticias</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="noticias_destacadas">
                <p><b>Noticias Destacadas</b> </p>
                <div class="contenido_noticias_destacadas">
                    <div class="imagen_noticia_destacada">
                        <img [src]=imagen_destacada1 alt="">
                    </div>
                    <div class="informacion_noticia_destacada">
                        <p><b>94.000 personas salieron del desempleo en el último año</b></p>
                        <p>24 de agosto , 2022 , 5:14 pm<br>
                    </div>
                </div>
                <div class="contenido_noticias_destacadas">
                    <div class="imagen_noticia_destacada">
                        <img [src]=imagen_destacada2 alt="">
                    </div>
                    <div class="informacion_noticia_destacada">
                        <p><b>Corporación Nacional de Telecomunicaciones CNT EP calificada como Operador de
                                Capacitación</b>
                        </p>
                        <p>30 de agosto , 2022 , 5:45 pm<br>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<mat-divider></mat-divider>
<div class="pt-5">
    <app-footer></app-footer>
</div>