<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<header>
  <app-header></app-header>
</header>
<main>
  <div class="contenido_principal">
    <div class="rutas">
      <app-breadcrumb-salida tabindex="8"></app-breadcrumb-salida>
    </div>
    <mat-divider></mat-divider>
    <div class="noticias">
      <p tabindex="9"><b>Noticias</b></p>
      <div class="contenido_noticias">
        <div class="imagen_noticia">
          <img [src]=imagen_noticia1 alt="">
        </div>
        <div class="informacion_noticia">
          <p><b>116 Trabajadores se benefician con la firma de Contrato Colectivo</b></p>
          <p>2 de septiembre , 2022 , 10:30 am<br>
            Trabajadoresdel  Comité Central Único de Trabajadores del
            Gobierno Autónomo Descentralizado Municipal del
            cantón Santa Ana, son amparados con la suscripción del décimo cuarto contrato colectivo.

        </div>
      </div>
      <div class="contenido_noticias">
        <div class="imagen_noticia">
          <img [src]=imagen_noticia2 alt="">
        </div>
        <div class="informacion_noticia">
          <p><b>82 Trabajadores se benefician con la firma de Acta Transaccional</b></p>
          <p>24 de agosto , 2022 , 5:14 pm<br>
            Este miércoles 24 de agosto de 2022, en el Salón de la Gobernación de Tungurahua,
            se realizó la firma del Acta Transaccional 2021, entre el Gobierno Autónomo Descentralizado Municipal
            Intercultural y Plurinacional del cantón Arajuno,
            provincia de Pastaza y el Comité Central Único de Trabajadores.
        </div>
      </div>

    </div>
    <div class="noticias_destacadas">
      <p><b>Noticias Destacadas</b> </p>
      <div class="contenido_noticias_destacadas">
        <div class="imagen_noticia_destacada">
          <img [src]=imagen_destacada1 alt="">
        </div>
        <div class="informacion_noticia_destacada">
          <p><b>94.000 personas salieron del desempleo en el último año</b></p>
          <p>24 de agosto , 2022 , 5:14 pm<br>
        </div>
      </div>
      <div class="contenido_noticias_destacadas">
        <div class="imagen_noticia_destacada">
          <img [src]=imagen_destacada2 alt="">
        </div>
        <div class="informacion_noticia_destacada">
          <p><b>Corporación Nacional de Telecomunicaciones CNT EP calificada como Operador de Capacitación</b></p>
          <p>30 de agosto , 2022 , 5:45 pm<br>
        </div>
      </div>
    </div>
  </div>

</main>
<footer>
  <app-footer tabindex="10"></app-footer>
</footer>
</body>
</html>







