<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<header>
  <div class="header_principal">
    <div class="logo_gobierno">
      <img [src]=logo_gobierno_encuentro>
    </div>
    <div class="ministerio_trabajo">
      <h2><b>MINISTERIO DEL TRABAJO</b></h2>
    </div>
    <div class="logo_bicentenario">
      <img [src]=logo_bicentenario alt="logo de representación del bicentenario del Ecuador" title="logo del bicentenario del Ecuador">
    </div>
    <div class="menu_hamburguesa">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="entrada">
          <mat-icon>input</mat-icon>
          <span>Entrada</span>
        </button>
        <button mat-menu-item routerLink="salida">
          <mat-icon>output</mat-icon>
          <span>Salida</span>
        </button>
        <router-outlet></router-outlet>
      </mat-menu>
    </div>
    <div class="informacion_ministerio_trabajo">
      <ul class="lista_tramites">
        <li>
          <a href="https://www.trabajo.gob.ec/sistema-contacto-ciudadano-mantenimiento/"><b>Contacto Ciudadano</b></a>
        </li>
        <li>
          <a href="https://www.gob.ec/"><b>Portal Trámites Ciudadanos</b></a>
        </li>
        <li>
          <a href="https://sni.gob.ec/inicio"><b>Sistema Nacional de Información (SNI)</b></a>
        </li>
      </ul>
    </div>
    <div class="buscar_noticias">
      <label>Buscar:<input type="text" class="input_buscar" id="fname" name="buscar" placeholder="Noticia"></label>
      <input type="submit" value="Buscar">
    </div>
  </div>
</header>
<main>
  <div class="contenido_principal">
    <div class="rutas">

    </div>
    <div class="noticias">
      <p><b>Noticias</b></p>
      <div class="contenido_noticias">
        <div class="imagen_noticia">
          <img [src]=imagen_noticia1 alt="">
        </div>
        <div class="informacion_noticia">
          <p><b>116 Trabajadores se benefician con la firma de Contrato Colectivo</b></p>
          <p>2 de septiembre , 2022 , 10:30 am<br>
            Trabajadoresdel  Comité Central Único de Trabajadores del
            Gobierno Autónomo Descentralizado Municipal del
            cantón Santa Ana, son amparados con la suscripción del décimo cuarto contrato colectivo.

        </div>
      </div>
      <div class="contenido_noticias">
        <div class="imagen_noticia">
          <img [src]=imagen_noticia2 alt="">
        </div>
        <div class="informacion_noticia">
          <p><b>82 Trabajadores se benefician con la firma de Acta Transaccional</b></p>
          <p>24 de agosto , 2022 , 5:14 pm<br>
            Este miércoles 24 de agosto de 2022, en el Salón de la Gobernación de Tungurahua,
            se realizó la firma del Acta Transaccional 2021, entre el Gobierno Autónomo Descentralizado Municipal
            Intercultural y Plurinacional del cantón Arajuno,
            provincia de Pastaza y el Comité Central Único de Trabajadores.
        </div>
      </div>

    </div>
    <div class="noticias_destacadas">
      <p><b>Noticias Destacadas</b> </p>
      <div class="contenido_noticias_destacadas">
        <div class="imagen_noticia_destacada">
          <img [src]=imagen_destacada1 alt="">
        </div>
        <div class="informacion_noticia_destacada">
          <p><b>94.000 personas salieron del desempleo en el último año</b></p>
          <p>24 de agosto , 2022 , 5:14 pm<br>
        </div>
      </div>
      <div class="contenido_noticias_destacadas">
        <div class="imagen_noticia_destacada">
          <img [src]=imagen_destacada2 alt="">
        </div>
        <div class="informacion_noticia_destacada">
          <p><b>Corporación Nacional de Telecomunicaciones CNT EP calificada como Operador de Capacitación</b></p>
          <p>30 de agosto , 2022 , 5:45 pm<br>
        </div>
      </div>
    </div>
  </div>

</main>
<footer>
  <div class="footer_principal">
    <div class="gobierno_nacional">
      <p><b>GOBIERNO DE LA REPÚBLICA DEL ECUADOR</b></p>
    </div>
    <div class="informacion_ministerio">
      Av. República de el Salvador N34-138 y Suiza<br/>
      Quito - Ecuador<br/>
      Teléfono: 593-2 3814000<br/>
    </div>
    <div class="redes_sociales">
      <ul class="lista_redes_sociales">
        <li>
          <a href="https://twitter.com/@MinTrabajoEc"><img [src] = "twiter" alt="Icono de Twiter" title="twitter del ministerio de Trabajo"></a>
        </li>
        <li>
          <a href="https://www.facebook.com/MinTrabajoEcuador"><img [src] = "facebook" alt="Icono de facebook" title="facebook del ministerio de Trabajo"></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC7GveeSRAD04k_6eCht6fZA"><img [src] = "youtube" alt="Icono de youtube" title="youtube del ministerio de Trabajo"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/mintrabajoecuador/"><img [src] = "instagram" alt="Icono de instagram" title="instagram del ministerio de Trabajo"></a>
        </li>
      </ul>
    </div>
  </div>

</footer>
</body>
</html>







